* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Permanent Marker", cursive;
}

.highlight {
  color: $primary;
}

.burger {
  display: inline;
  // flex-grow: 1;
  cursor: pointer;
  div {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}
