.button {
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 15pt;
  outline: none;
  display: inline;
  &.is-primary {
    background: $primary;
    color: $primary-text;
    border: none;
    box-shadow: inset 0 1px 0 $primary;
  }
  &.is-small {
    font-size: 9pt;
  }
  &.is-medium {
    font-size: 15pt;
  }
  &.is-large {
    font-size: 18pt;
  }
}
